@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
}

.content {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  background-color: #ededed;
}

button {
  cursor: pointer;
  border-style: none;
  text-align: center;
}

.hide {
  display: none;
}

.header {
  width: 100%;
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 15%;
}

.header .logo {
  align-self: center;
  text-align: center;
  width: 70px;
  height: auto;
  padding-left: 25%;
}

.hamburguerIcon {
  height: 35%;
  width: 35%;
  padding: 15px;
}

.mainPage {
  background-image: url(Art/bg_mobile_main.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-flow: column;
  padding: 0% 5% 10% 5%;
}

.mainPage h3 {
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  font-size: 23px;
  margin-bottom: 0;
  font-weight: 400;
  padding-left: 3%;
}

.mainPage h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ec5242;
  margin-top: 10px;
  padding-left: 3%;
}

.message {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  padding: 1em 0.5em;
  line-height: 150%;
  font-size: 13px;
  height: auto;
  text-align: justify;
  border: #fff solid 4px;
}

.dateLocation {
  text-align: center;
  width: 100%;
  margin: 0;
  height: 95px;
  padding-top: 40px;
}

.dateLocation h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #272a31;
  font-size: 30px;
  font-weight: 800;
}

.dateLocation h4 {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  font-size: 15px;
}

.mainProgram {
  background-color: #272a31;
  background-image: url(art/bg_mobile_program.png);
  display: flex;
  flex-flow: column;
}

.mainProgram-header {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.mainProgram-header h2 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin: 13% auto 0 auto;
}

.divline {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid #ec5242;
  margin: 0 auto 54px;
}

.programList {
  width: calc(100% - 16px);
  position: relative;
  margin: 0 0 0.5em 0;
  padding: 16px 0;
  vertical-align: middle;
  display: table;
  height: auto;
  overflow: auto;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns:  15% 26% 59%;
  margin: 5px 8px;
}

.programList img {
  height: 70%;
  width: 80%;
}

.programList h3 {
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

.programList p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.mainProgram button {
  margin: 5% auto;
  background-color: #ec5242;
  color: #fff;
  height: 80px;
  width: 80%;
  font-family: 'Ubuntu', sans-serif;
  margin: 10% auto;
  font-size: 22px;
  border: #ec5242 2px solid;
}

.mainProgram button:hover {
  background-color: #fff;
  color: #ec5242;
}

.featuredSpeakers {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.featuredSpeakers h2 {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin: 13% auto 0 auto;
}

.speakers {
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 0 2.5% 10% 2.5%;
}

.speakers img {
  max-width: 100%;
  height: auto;
}

.speakersInfo {
  display: flex;
  flex-flow: column;
  padding-left: 13px;
}

.speakersInfo h3 {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  margin: 2px;
}

.speakersInfo h4 {
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  margin: 2px;
  font-weight: 400;
}

.speakersInfo div {
  border-bottom: 1.5px solid rgb(168, 166, 166);
  width: 25px;
  margin: 10px 5px;
}

.speakersInfo p {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  margin: 2px;
  font-size: 12px;
}

.featuredSpeakers button {
  width: 95%;
  height: 50px;
  border: 1.5px solid rgb(168, 166, 166);
  border-radius: 3px;
  background-color: transparent;
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 21px;
  margin: 0 2.5% 10% 2.5%;
}

.featuredSpeakers button:hover {
  background-color: #ec5242;
  color: #fff;
}

.partner {
  background-color: #272a31;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.partner h2 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin: 65% auto 0 auto;
}

.partners {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.partners a {
  width: 20%;
  margin: 0 30px 25px 30px;
}

.partners img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.footer .logo {
  width: 70px;
  height: auto;
}

.footer p {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.footer img {
  width: 100%;
  height: auto;
}